<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{'Invoice List' | translate}}</h5>
        </div>

        <ejs-grid #grid (actionBegin)="actionBegin($event)" gridLines='Both' (actionComplete)="actionComplete($event)"
          [toolbar]='toolbarOptions' [dataSource]='data' allowPaging='true' [allowSorting]='true' allowResizing='true'
          showColumnMenu='true' [allowExcelExport]='true' allowFiltering='true' [filterSettings]='filterSettings'
          [pageSettings]='pageSettings'
          (recordDoubleClick)='recordDoubleClick($event)'
           (toolbarClick)='toolbarClick($event)' [editSettings]='editSettings'>
          <e-columns>
            <e-column field='id' headerText='#' width='70' textAlign='Center' isPrimaryKey='true'>
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
            </e-column>

            <e-column field='invoiceNo' headerText="{{'Invoice No.' | translate}}" width='200' textAlign='Center'>
            </e-column>

            <e-column field='description' headerText="{{'Description of goods' | translate}}" width='200' textAlign='Center'>
            </e-column>

            <e-column field='containerNo' headerText="{{'Number of container' | translate}}" width='200' textAlign='Center'>
            </e-column>

            <e-column field='blno' headerText='BL No.' width='200' textAlign='Center'>
            </e-column>

            <e-column field='vesselName' headerText="{{'Vessel name' | translate}}" width='200' textAlign='Center'>
            </e-column>

            <e-column field='carrier' headerText="{{'Carrier' | translate}}" width='200' textAlign='Center'>
            </e-column>

            <e-column field='containerCode' headerText="{{'Container' | translate}}" width='200' textAlign='Center'>
              <ng-template #editTemplate let-data>
                <ejs-dropdownlist #containerDropdownlist [dataSource]='containerData' [value]="data.containerID"
                  [fields]='fieldsContainer' [allowFiltering]='true' (change)='onChangeContainer($event)'>
                </ejs-dropdownlist>
              </ng-template>
            </e-column>

            <e-column field='companyName' headerText="{{'Company' | translate}}" width='200' textAlign='Center'>
              <ng-template #editTemplate let-data>
                <ejs-dropdownlist #roleDropdownlist [dataSource]='companydata' [value]="data.companyID"
                  [fields]='fieldsCompany' [allowFiltering]='true' (change)='onChangeCompany($event)'>
                </ejs-dropdownlist>
              </ng-template>
            </e-column>

            <e-column field='statusCode' headerText="{{'Status' | translate}}" width='200' textAlign='Center'>
              <ng-template #editTemplate let-data>
                <ejs-dropdownlist #statusDropdownlist [dataSource]='statusData' [value]="data.statusCode"
                  [allowFiltering]='true' (change)='onChangeStatus($event)'>
                </ejs-dropdownlist>
              </ng-template>
            </e-column>

            <e-column field='eta' headerText='ETA' type='date' format='MM-dd-yyyy' width='200' width='200' textAlign='Center'>
            </e-column>

            <e-column field='etd' headerText='ETD' type='date' format='MM-dd-yyyy' width='200' width='200' textAlign='Center'>
            </e-column>
            <e-column field='other1' headerText="{{'Other 1' | translate}}" width='200' textAlign='Center'>
            </e-column>

            <e-column field='other2' headerText="{{'Other 2' | translate}}" width='200' textAlign='Center'>
            </e-column>

          </e-columns>
        </ejs-grid>

      </div>
    </div>
  </div>
</div>
