<div class="card">
  <div class="card-body">
    <!-- begin row -->
    <div class="row">

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="Company">Company</label>
          <ejs-dropdownlist #companyDropdownlist [dataSource]='companyData' [(ngModel)]="companyID"
            [fields]='fieldsCompany' placeholder="Select a company" [allowFiltering]='true' (change)='onChangeCompany($event)'>
          </ejs-dropdownlist>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="BL">BL No.</label>
          <input type="text"placeholder="Enter the BL No." [(ngModel)]="invoice.blno" class="e-input" id="BL">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="carrier">Carrier Name</label>
          <input type="text" placeholder="Enter the carrier name" [(ngModel)]="invoice.carrier" class="e-input" id="Carrier">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="Vessel">Vessel Name</label>
          <input type="text" placeholder="Enter the vessel name" [(ngModel)]="invoice.vesselName" class="e-input" id="Vessel">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="No">Invoice No.</label>
          <input type="text" placeholder="Enter the invoice No." [(ngModel)]="invoice.invoiceNo" class="e-input" id="No">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="Invoice">Invoice Date</label>
          <ejs-datepicker placeholder="Chooes the invoice date" [value]='invoice.invoiceDate' ></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label class="font-weight-bold" for="description">Description of goods</label>
          <textarea type="text" placeholder="Enter the description of goods" class="e-input" [(ngModel)]="invoice.description" id="description"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="ETD">ETD</label>
          <ejs-datepicker [(ngModel)]='invoice.etd' placeholder='Select ETD'></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="ETA">ETA</label>
          <ejs-datepicker [(ngModel)]='invoice.eta' placeholder='Select ETA'></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="Other1">Other 1</label>
          <input type="text" placeholder="Enter the other 1" [(ngModel)]="invoice.other1" class="e-input" id="Other1">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="Other2">Other 2</label>
          <input type="text" placeholder="Enter the other 2" [(ngModel)]="invoice.other2" class="e-input" id="Other2">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="containerNo">No. of container</label>
          <input type="text" placeholder="Enter the number of container" class="e-input" [(ngModel)]="invoice.containerNo" id="containerNo">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="Container">Container</label>
          <ejs-dropdownlist #containerDropdownlist [dataSource]='containerData' [(ngModel)]="containerID"
            [fields]='fieldsContainer' placeholder="Select a container" [allowFiltering]='true' (change)='onChangeContainer($event)'>
          </ejs-dropdownlist>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="font-weight-bold" for="status">Status</label>
          <ejs-dropdownlist #statusDropdownlist  placeholder="Select the satus" [dataSource]='statusData' [(ngModel)]="status" [allowFiltering]='true'
            (change)='onChangeStatus($event)'>
          </ejs-dropdownlist>
        </div>
      </div>

    </div>
    <!-- end row -->

    <div class="row control-panel">
      <div class="col-lg-12  d-flex justify-content-center align-items-center">
        <a class="btn btn-warning btn-default mr-1" (click)="back()"><span class="fa fa-backward"
            style="margin-right: 5px"></span>
          Trở Về</a>
          <a class="btn btn-info btn-default mr-1" (click)="clearForm()"><span class="fa fa-remove"
              style="margin-right: 5px"></span>
            Nhập Lại</a>
        <button type="button" class="btn btn-primary btn-default" (click)="create()">
          <span class="fa fa-floppy-o" style="margin-right: 5px"></span>
          Lưu
        </button>
      </div>
    </div>

  </div>

</div>
